* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.infinite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    background-color: #000;
}

.infinite-words-container {
    display: flex;
    gap: 30px;
    transition: none;
}

.infinite-circles-container {
    display: flex;
}

.infinite .infinite-circles-container .infinite-circles {
    position: relative;
    width: 150px;
    margin: -7.5px;
}

.infinite .infinite-circles-container .infinite-circles:nth-child(2) {
    transform: rotate(-180deg);
}

.infinite .infinite-circles-container .infinite-circles:nth-child(2) span::before {
    animation-delay: calc(-0.1s * var(--i));
}                                                                                           

.infinite .infinite-circles-container .infinite-circles span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    display: flex;
    align-items: center;
}

.infinite .infinite-circles-container .infinite-circles span::before {
    content: '';
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff,
        0 0 80px #fff,
        0 0 100px #fff
    ;
    transform: scale(0.1);
    animation: infinimate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}


.infinite-words {
    font-size: 15em;
    font-weight: 600;
    color: #fff;
}

.infinite-description {
    font-size: 1.8em;
    font-weight: 300;
    color: #fff;
    font-style: italic;
}

@keyframes infinimate {
    0% { transform: scale(1.2); }
    50%, 100% { transform: scale(0.1); }
}


@media all and (max-width: 600px) {
    .infinite-words-container { gap: 15px; }
    .infinite .infinite-circles-container .infinite-circles { width: 80px; }
    .infinite-words { font-size: 7em; }
    .infinite-description { font-size: 1.4em; }

    @keyframes infinimate {
        0% { transform: scale(0.7); }
        50%, 100% { transform: scale(0.1); }
    }
}